h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px; 
	font-style: normal; 
	font-variant: normal; 
	color: white;
	margin-top: 100;
	letter-spacing: 1.5px;

}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal;
	font-weight: 100; 
	line-height: 26.4px; 
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 50%;
}

.responsive {
    width: 40%;
    height: auto;
}

.card {
    position: relative;
    display: inline-block;
 }

.card .img-top {
    display: none;
    position: absolute;
    top: 0%;
    left: 30%;
    z-index: 99;
}
    
.card:hover .img-top {
    display: inline;
    position: absolute;
}




